.logo {
  width: 80px;
}
body, html {
  height: 100%;
}

.pointer{
  cursor: pointer !important;
}


@import "sb-admin-2";
@import "variables";
@import "bootstrap/scss/bootstrap";
@import 'choices.js/public/assets/styles/choices';
@import "style/style.scss";
